* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.container {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 16px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 5px 10px 15px hsl(211, 68%, 94%)
}
.pic{
    width: 40%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-image: url(./images/drawers.jpg);
    background-size: cover;
}
.textbox {
    width: 60%;
    height: 100%;
    padding: 40px;
}
.header {
    margin-bottom: 20px;
    color: hsl(217, 19%, 35%);
    font-size: 24px;
    font-weight: 700;
}
.comment{
    margin-bottom: 20px;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}
.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}
.date {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}
.bottom-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.info {
    display: none;
    flex-direction: row;
}
.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

button {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
}
.icon {
    width: 14px;
    color: hsl(217, 19%, 35%);
}
.after {
    display: none;
}
button:hover {
    transform: scale(1.1,1.1);
}

.clicked {
    background-color: hsl(214, 17%, 51%);
}
.clicked-icon {
    color: hsl(210, 46%, 95%)
}


.mobile {
    display: none;
}

.share-box{
    position: absolute;
    right: -135px;
    top: -107px;
    opacity: 0;
}
.share-bubble {
    color: #fff;
    background: hsl(217, 19%, 35%);
    height: 60px;
    width: 240px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    max-width: 600px;
    position: relative;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.share-bubble::after {
    display: block; 
    width: 0; 
    content: "";
    border: 15px solid transparent;
    border-top-color: hsl(217, 19%, 35%);
    border-bottom: 0;
    position: absolute;
    bottom: -14px; 
    left: calc(50% - 15px);
}
.shr {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}

.anim {
    animation: pop .1s forwards;
}
@keyframes pop {
    0% {
        transform: scale(1,1);
    }
    80% {
        transform: scale(1.1,1.1);
    }
    90% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1,1);
    }
}

@media screen and (max-width: 960px){
    .wrapper{
        transform: scale(0.8, 0.8) translate(-60%, -60%);
    }
}
@media screen and (max-width: 790px){
    .wrapper{
        transform: scale(0.7, 0.7) translate(-70%, -70%);
    }
}
@media screen and (max-width: 690px){
    .wrapper{
        transform: scale(0.6, 0.6) translate(-80%, -80%);
    }
}
@media screen and (max-width: 600px){
    .wrapper {
        transform: scale(1,1) translate(-50%, -50%);
    }
    .container{
        width: 320px;
        height: 523px;
        flex-direction: column;
        z-index: 1;
    }   
    .pic {
        height: 40%;
        width: 100%;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
    }
    .textbox {
        height: 60%;
        width: 100%;
        padding-bottom: 0px;
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .header {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .comment {
        font-size: 13px;
        margin-bottom: 45px;
    }
    .bottom-line {
        position: absolute;
        width: 320px;
        left: 0;
        bottom: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding-right: 32px;
        height: 82px;
    }
   
    .after {
        display: block;
        transition: .2s ease;
        width: 320px;
        height: 100%;
        background-color: hsl(217, 19%, 35%);
        content: " ";
        position: absolute;
        z-index: -1;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        opacity: 0;
    }
  
    .info{
        margin-left: 32px;
    }
    .share-box{
        display: none;
    }
    .mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 82px;
        background-color: hsl(217, 19%, 35%);
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding-left: 32px;
        padding-right: 32px;
        opacity: 1;
        z-index: -1;
    }
    .iconM {
        width: 12px;
        color: hsl(217, 19%, 35%);
    }
    .icons {
        flex-direction: row;
        align-items: center;
        width: 200px;
        margin-left: 32px;
        display: none;
    }
    .soc {
        width: 24px;
        margin-right: 15px;
    }
}
